<div class="col-12 container set-margin-for-header">
    <!-- -----------------------------------------------------------------------------------The best design company--------------------------------------------------------------- -->
    <div class="The-best-design-company pt-2">
        <p class="title">أفضل شركة تصميم
            <br>
            وتطوير مواقع الانترنت
        </p>
        <div class="small-titlerefer col-12">
            <div class="row">
                <div class="col-lg-6">
                    <p class="articles-paragraph" data-aos="fade-up" data-aos-duration="1500">العالم أصبح يعيش داخل
                        الإنترنت ، و أنت ما لذي يؤخرك حتى الآن عنهم ..!؟<br>
                        اصنع مجتمعك الخاص بنشاطك التجاري على الإنترنت و اجعله مزاراً للكثير من العملاء ، اجعل منه مقراً
                        عالمياً يسهل
                        الوصول إليه في أي زمان و من أي مكان .إذا كنت تحلمُ بأن يصبح نشاطك التجاري في كل منزل ، و في
                        متناول
                        الجميع ،
                        فقد وصلت للمكان الصحيح ، مع فكرة أنت تبني موقعك بثقة و أمان .
                    </p>
                </div>
                <div class="small-titlerefer-img col-lg-6">
                    <img src="assets/slider3.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------------------------------------------Articles------------------------------------------------------------------- -->
    <div class="Articles pt-5">
        <h2 class="big-blue-title">المقالات</h2>
        <div class="row">
            <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1000">
                <img src="assets/Content creation.png">
                <div class="small-titlet-3">
                    <p class="articles-paragraph">صناعة المحتوى هو مصطلح واسع يغطي أي عمل يقوم بإنشاء المحتوى
                        وتوزيعه. يمكن أن يشمل ذلك
                        الوسائط
                        التقليدية مثل الصحف</p>
                </div>
            </div>
            <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                <img src="assets/wordpress.png">
                <div class="small-titlet-3">
                    <p class="articles-paragraph">تصميم مواقع وردبرس الوردبرس هو نظام إدارة محتوى (CMS) يسمح لك
                        بإنشاء موقع أو مدونة من
                        البداية، أو تحسين
                    </p>
                </div>
            </div>
            <div class="col-sm-4" data-aos="fade-up" data-aos-duration="2000">
                <img src="assets/content-mangement.png" alt="">
                <div class="small-titlet-3">
                    <p class="articles-paragraph">نظام إدارة المحتوى (CMS) هو تطبيق برمجي أو مجموعة من البرامج ذات
                        الصلة التي تُستخدم
                        لإنشاء
                        المحتوى الرقمي وإدارته. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------------------------------------------The most important features of Electro website design------------------------------------------------------------------- -->
    <div class="most-important-features-of-Electro-website-design pt-5">
        <h2 class="big-blue-title">أهم ميزات تصميم موقع إلكتروني</h2>
        <br>
        <div class="row d-flex">
            <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                <div class="most-important-imgDiv">
                    <img src="assets/تصميم مواقع مخصص.png" alt="">
                </div>
                <p class="small-title">تصميم مواقع مخصص</p>
                <p>نقوم بتصميم مواقع فريدة ومعدلة حسب احتياجات و متطلبات كل عميل</p>
            </div>
            <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                <div class="most-important-imgDiv">
                    <img src="assets/محتوى سهل الإدارة.png">
                </div>
                <p class="small-title">محتوى سهل الإدارة</p>
                <p>نقوم بتطوير مواقع باستخدام وردبرس بحيث يمكنك إضافة المحتوى وتحريره وحذفه سهل وسريع</p>
            </div>
            <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                <div class="most-important-imgDiv">
                    <img src="assets/مواقع محركات البحث.jpg">
                </div>
                <p class="small-title">متواقف مع محركات البحث</p>
                <p>نتبع المعايير القياسية لجوجل لإجراء اعدادات تحسين محركات البحث لموقعك حتى تتمكن من تحسينه لمحركات
                    البحث و الظهور في المراتب الاولى لجوجل</p>
            </div>
            <!-- --------------------------------------------------------------------2---------------------------------------------------------------------------- -->
            <div class="row">
                <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                    <div class="most-important-imgDiv">
                        <img src="assets/الشبكات الاجتماعيه.jpg">
                    </div>
                    <p class="small-title">لتكامل مع الشبكات الاجتماعية</p>
                    <p>هل لديك صفحات على السوشل ميديا وتريد ربطها بموقعك الجديد؟ سوف نقوم بتصيم يتيح لعملائك التنقل بين
                        موقع
                        و صفحاتك على مواقع التواصل</p>
                </div>
                <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                    <div class="most-important-imgDiv">
                        <img src="assets/الحمايه.jpg">
                    </div>
                    <br>
                    <p class="small-title">الحماية</p>
                    <p>توفير اعلى و سائل الحماية المتاحة من ناحية الكود البرمجي و امن الخوادم و تفعيل ssl</p>
                </div>
                <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                    <div class="most-important-imgDiv">
                        <img src="assets/متناسق مع كل الاجهزة.jpg">
                    </div>
                    <br>
                    <p class="small-title">متناسق مع كل الاجهزة</p>
                    <p>موقعك الإلكتروني متوافق مع شاشات الجوال و التابلت و الكمبيوتر بحيث يشعر زائر موقعك بالراحة و
                        سهولة
                        التصفح</p>
                </div>
            </div>
            <!-- -----------------------------------------------------------------------------3--------------------------------------------------------- -->
            <div class="row">
                <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                    <div class="most-important-imgDiv">
                        <img src="assets/استماره تواصل.jpg" alt="">
                    </div>
                    <p class="small-title">استمارة تواصل</p>
                    <p>استمارة تواصل تتيح للعملاء التواصل معك و ترك بياناتهم و الخدمات او المنتجات التي يرغبون بها
                        بالاضافة
                        للشكوي او الاقتراحات</p>
                </div>
                <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                    <div class="most-important-imgDiv">
                        <img src="assets/googlemap.png" alt="">
                    </div>
                    <p class="small-title">خرائط جوجل </p>
                    <p>تتضمن جميع صفحات الويب الخاصة بنا نماذج الاتصال وخرائط جوجل بحيث يمكن لعملائك الاتصال بك
                        وتحديد
                        موقعك
                        بسهولة.</p>
                </div>

                <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                    <div>
                        <div class="most-important-imgDiv">
                            <img src="assets/الإشعارات القانونية.png" alt="">
                        </div>
                        <p class="small-title">الإشعارات القانونية</p>
                        <p>تنصيب اشعار الخصوصية و ملف الارتباط في موقعك حتى تشعر المستخدمين انك تحترم خصويتهم مما يترك
                            انظبعا
                            جيد عن موقعك</p>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------------------------------4-------------------------------------------------------------- -->
            <div class="row">
                <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                    <div class="most-important-imgDiv">
                        <img src="assets/لغات متتعدده.jpg" alt="">
                    </div>
                    <p class="small-title">دعم لغات متعددة</p>
                    <p>هل تريد لغات متعددة على موقعك الجديد؟
                        جميع المواقع التي نقوم بتصميمها ترعم تعدد الغات و ما عليك الى طلب ذلك</p>
                </div>
                <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                    <div class="most-important-imgDiv">
                        <img src="assets/Delivery speed.jpg" alt="">
                    </div>
                    <p class="small-title"> التسليم في أقل من 10 أيام </p>
                    <p>نضعُ لك خطة زمنية قياسية ومنافسة نوضح لك فيها كل التفاصيل الزمنية لعملك، لتكون أنت المُطلع على
                        سير
                        عملك بالوجه المطلوب</p>
                </div>
                <div class="col-sm-4" data-aos="fade-up" data-aos-duration="1500">
                    <div class="most-important-imgDiv">
                        <img src="assets/سريع وآمن.png" alt="">
                    </div>
                    <p class="small-title">سريع وآمن</p>
                    <p>مواقعن صممت لتكون ذات سرعة فائقة حتى لا تجعل المستخدمين ينتظرون كما انها متواققة مع جميع قواعد
                        الامان
                    </p>
                </div>
            </div>
        </div>
        <!-- -----------------------------------------------------------------------------Some of our work------------------------------------------------------------------- -->
        <div class="Some-of-our-work">
            <h2 class="big-blue-title">بعض من اعمالنا</h2>
            <!-- <i class="bi bi-caret-left-fill" (click)="scroll_list_to_left()"></i> -->
            <div class="row our-works-list-view">
                <swiper [config]="config">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" *ngFor="let item of designList"> <img [src]="item.image" alt=""></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </swiper>
                <!-- <img src="{{ item.image !='' || item.image !=undefined ? item.image:'assets/logo.jpeg'}}"
                    class="our-work-img"
                    [ngClass]="leftOrRight == 'rightScroll' ? (i==0? 'animation-left':''):(i==designListShow.length-1 ? 'animation-right':'')"
                    *ngFor="let item of designListShow; let i = index"> -->
            </div>
            <!-- <i class="bi bi-caret-right-fill" (click)="scroll_list_to_right()"></i> -->
        </div>
        <!-- -----------------------------------------------------------------------------------type of site-------------------------------------------------------- -->
        <div class="Types-of-sites-container">
            <h2 class="big-blue-title"> انواع المواقع</h2>
            <div class="row text-center">
                <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1500">
                    <img src="assets/المواقع الشخصية.jpg" class="icon" alt="">
                    <h5>المواقع الشخصية</h5>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1500">
                    <img src="assets/المواقع الاخبارية.png" class="icon" alt="">
                    <h5>المواقع الاخبارية</h5>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1500">
                    <img src="assets/مواقع التجارة الإلكترونية.png" class="icon" alt="">
                    <h5>مواقع التجارة الإلكترونية</h5>
                </div>
            </div>
            <br>
            <!-- --------------------------------------------------------------------------2----------------------------------------------------------------- -->
            <div class="row text-center">
                <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1500">
                    <img src="assets/المدونات.png" class="icon" alt="">
                    <h5>المدونات</h5>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1500">
                    <img src="assets/مواقع الوسائط المتعددة.jpg" class="icon" alt="">
                    <h5>مواقع الوسائط المتعددة</h5>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1500">
                    <img src="assets/المواقع الخدميه.jpg" class="icon" alt="">
                    <h5>المواقع الخدمية</h5>
                </div>
            </div>
            <!-- -------------------------------------------------------------------------------3------------------------------------------------------------------- -->
            <div class="row text-center">
                <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1500">
                    <img src="assets/المنتديات.jpg" class="icon" alt="">
                    <h5 class="h4">المنتديات</h5>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1500">
                    <img src="assets/مواقع التواصل الاجتماعية.png" class="icon" alt="">
                    <h5 class="5">مواقع التواصل الاجتماعية</h5>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1500">
                    <img src="assets/مواقع الشركات.jpg" class="icon" alt="">
                    <h5 class="">مواقع الشركات</h5>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 text-center" data-aos="fade-up" data-aos-duration="1500">
                <img class="icon" src="assets/مواقع محركات البحث.jpg">
                <h5>مواقع محركات البحث</h5>
            </div>
        </div>
        <!-- ---------------------------------------------------------------------Advantages------------------------------------------------------------------------ -->
        <div class="Advantages">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="big-image" src="assets/more-of services.gif">
                </div>
                <div class="col-lg-7 mt-5 pt-2">
                    <img class="professionals-img" src="assets/Work professionalism.jpg">
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-12">
                        <h5 class="text-blue">
                            <img class="icon" src="assets/Delivery speed2.jpg">
                            التسليم في اقل من 10أيام
                        </h5>
                        <p>
                            نضعُ لك خطة زمنية قياسية ومنافسة نوضح لك فيها كل التفاصيل الزمنية لعملك، لتكون أنت المُطلع
                            على
                            سير عملك بالوجه المطلوب
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="text-blue">
                            <img class="icon" src="assets/Low cost.png">
                            التكلفة اليسيرة
                        </h5>
                        <p>نعملُ على تقديم أفضل الخدمات المنافسة، والتي نتميز بها ونستفرد في إبداعها ومع كل هذا نضع في
                            الحسبان التكلفة اليسيرة للعمل والعروض والتخفيضات التي تصب في مصلحة العميل
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="text-blue">
                            <img class="icon" src="assets/Low cost.png">
                            احترافية العمل
                        </h5>
                        <p>نعمل بفريق عمل متخصص و محترف و ذو خبرة طويلة في مجال تصميم و برمجة المواقع ، لنجعل من موقعك
                            مكاناً مليء بالخدمات التي تقدمها و عرضها في قوالب جذابة و تلفت انتباه العملاء المحتملين ، و
                            ننفذ
                            كافة طلباتك بإمكانيات برمجية عالية
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>