<div class="col-12 container set-margin-for-header">
    <!-- -----------------------------------------------------------------------------------The best design company--------------------------------------------------------------- -->
    <div class="The-best-design-company">
        <p>
            <span class="span2">أفضل شركة تصميم</span>
            <br>
            <span class="span3">وتطوير مواقع الانترنت</span>
        </p>
        <div class="prefer col-12">
            <div class="row">
                <div class="col-lg-6">
                    <p>العالم أصبح يعيش داخل الإنترنت ، و أنت ما لذي يؤخرك حتى الآن عنهم ..!؟<br>
                        اصنع مجتمعك الخاص بنشاطك التجاري على الإنترنت و اجعله مزاراً للكثير من العملاء ، اجعل منه مقراً
                        عالمياً يسهل
                        الوصول إليه في أي زمان و من أي مكان .إذا كنت تحلمُ بأن يصبح نشاطك التجاري في كل منزل ، و في
                        متناول
                        الجميع ،
                        فقد وصلت للمكان الصحيح ، مع فكرة أنت تبني موقعك بثقة و أمان .
                    </p>
                </div>
                <div class="prefer-img col-lg-6">
                   <img src="assets/website-image.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------------------------------------------Articles------------------------------------------------------------------- -->
    <div class="Articles">
        <h3 class="h3">المقالات</h3>
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <div><img width="392" height="230"
                            src="assets/Content creation.png">
                    </div>
                    <br>
                    <div>
                        <div> فكرة للتسويق الالكتروني</div>
                        <div class="simple-text size-3">
                            <p>صناعة المحتوى هو مصطلح واسع يغطي أي عمل يقوم بإنشاء المحتوى وتوزيعه. يمكن أن يشمل ذلك
                                الوسائط
                                التقليدية مثل الصحف</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <img src="assets/wordpress.png">
                    <div>
                        <br>
                        <div>by فكرة للتسويق الالكتروني</div>
                        <div class="simple-text size-3">
                            <p>تصميم مواقع وردبرس الوردبرس هو نظام إدارة محتوى (CMS) يسمح لك بإنشاء موقع أو مدونة من
                                البداية، أو تحسين</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <img src="assets/content-mangement.png" alt="">
                    <br>
                    <div>
                        <div>by فكرة للتسويق الالكتروني</div>
                        <div class="simple-text size-3">
                            <p>نظام إدارة المحتوى (CMS) هو تطبيق برمجي أو مجموعة من البرامج ذات الصلة التي تُستخدم
                                لإنشاء
                                المحتوى الرقمي وإدارته. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------------------------------------------The most important features of Electro website design------------------------------------------------------------------- -->
    <div class="most-important-features-of-Electro-website-design">
        <h2 class="h2">أهم ميزات تصميم موقع إلكتروني</h2>
        <br>

        <div class="row">
            <div class="col-sm-4 maindiv2">
                <div>
                    <div class="immg">
                        <img class="imgg" src="assets/تصميم مواقع مخصص.png" alt="">
                    </div>
                    <br>
                    <p class="p">تصميم مواقع مخصص</p>
                    <p>نقوم بتصميم مواقع فريدة ومعدلة حسب احتياجات و متطلبات كل عميل</p>
                </div>
            </div>

            <div class="col-sm-4 maindiv2">
                <div>
                    <div class="immg">
                        <img class="imgg" src="assets/محتوى سهل الإدارة.png">
                    </div>
                    <br>
                    <p class="p">محتوى سهل الإدارة</p>
                    <p>نقوم بتطوير مواقع باستخدام وردبرس بحيث يمكنك إضافة المحتوى وتحريره وحذفه سهل وسريع</p>
                </div>
                <div>

                </div>
            </div>

            <div class="col-sm-4 maindiv2">
                <div>
                    <div class="immg">
                        <img class="imgg" src="assets/مواقع محركات البحث.jpg" >
                    </div>
                    <p class="p">متواقف مع محركات البحث</p>
                    <p>نتبع المعايير القياسية لجوجل لإجراء اعدادات تحسين محركات البحث لموقعك حتى تتمكن من تحسينه لمحركات
                        البحث و الظهور في المراتب الاولى لجوجل</p>
                </div>
            </div>
        </div>

        <!-- --------------------------------------------------------------------2---------------------------------------------------------------------------- -->
        <div class="row">
            <div class="col-sm-4 maindiv2">
                <div>
                    <div class="immg">
                        <img class="imgg" src="assets/الشبكات الاجتماعيه.jpg" >
                    </div>

                    <p class="p">لتكامل مع الشبكات الاجتماعية</p>
                    <p>هل لديك صفحات على السوشل ميديا وتريد ربطها بموقعك الجديد؟ سوف نقوم بتصيم يتيح لعملائك التنقل بين
                        موقع
                        و صفحاتك على مواقع التواصل</p>
                </div>
                <div>

                </div>
            </div>


            <div class="col-sm-4 maindiv2">
                <div>
                    <div class="immg">
                        <img class="imgg" src="assets/الحمايه.jpg" >
                    </div>
                    <br>
                    <p class="p">الحماية</p>
                    <p>توفير اعلى و سائل الحماية المتاحة من ناحية الكود البرمجي و امن الخوادم و تفعيل ssl</p>
                </div>
                <div>

                </div>
            </div>

            <div class="col-sm-4 maindiv2">
                <div>
                    <div class="immg">
                        <img class="imgg" src="assets/متناسق مع كل الاجهزة.jpg" >
                    </div>
                    <br>
                    <p class="p">متناسق مع كل الاجهزة</p>
                    <p>موقعك الإلكتروني متوافق مع شاشات الجوال و التابلت و الكمبيوتر بحيث يشعر زائر موقعك بالراحة و
                        سهولة
                        التصفح</p>
                </div>
            </div>
        </div>
        <!-- -----------------------------------------------------------------------------3--------------------------------------------------------- -->
        <div class="row">
            <div class="col-sm-4 maindiv2">
                <div>
                    <div class="immg">
                        <img class="imgg" src="assets/استماره تواصل.jpg" alt="">
                    </div>
                    <p class="p">استمارة تواصل</p>
                    <p>استمارة تواصل تتيح للعملاء التواصل معك و ترك بياناتهم و الخدمات او المنتجات التي يرغبون بها
                        بالاضافة
                        للشكوي او الاقتراحات</p>
                </div>
                <div>

                </div>
            </div>


            <div class="col-sm-4 maindiv2">
                <div>
                    <div class="immg">
                        <img class="imgg" src="assets/googlemap.png" alt="">
                    </div>
                    <p class="p">خرائط جوجل </p>
                    <p>تتضمن جميع صفحات الويب الخاصة بنا نماذج الاتصال وخرائط جوجل بحيث يمكن لعملائك الاتصال بك وتحديد
                        موقعك
                        بسهولة.</p>
                </div>
                <div>

                </div>
            </div>

            <div class="col-sm-4 maindiv2">
                <div>
                    <div class="immg">
                        <img class="imgg" src="assets/الإشعارات القانونية.png" alt="">
                    </div>
                    <p class="p">الإشعارات القانونية</p>
                    <p>تنصيب اشعار الخصوصية و ملف الارتباط في موقعك حتى تشعر المستخدمين انك تحترم خصويتهم مما يترك
                        انظبعا
                        جيد عن موقعك</p>
                </div>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------4-------------------------------------------------------------- -->


        <div class="row">
            <div class="col-sm-4 maindiv2">
                <div>
                    <div class="immg">
                        <img class="imgg" src="assets/لغات متتعدده.jpg" alt="">
                    </div>
                    <p class="p">دعم لغات متعددة</p>
                    <p>هل تريد لغات متعددة على موقعك الجديد؟
                        جميع المواقع التي نقوم بتصميمها ترعم تعدد الغات و ما عليك الى طلب ذلك</p>
                </div>
                <div>

                </div>
            </div>


            <div class="col-sm-4 maindiv2">
                <div>
                    <div class="immg">
                        <img class="imgg" src="assets/Delivery speed.jpg" alt="">
                    </div>
                    <p class="p"> التسليم في أقل من 10 أيام </p>
                    <p>نضعُ لك خطة زمنية قياسية ومنافسة نوضح لك فيها كل التفاصيل الزمنية لعملك، لتكون أنت المُطلع على
                        سير
                        عملك بالوجه المطلوب</p>
                </div>
                <div>

                </div>
            </div>

            <div class="col-sm-4 maindiv2">
                <div>
                    <div class="immg">
                        <img class="imgg" src="assets/سريع وآمن.png" alt="">
                    </div>
                    <p class="p">سريع وآمن</p>
                    <p>مواقعن صممت لتكون ذات سرعة فائقة حتى لا تجعل المستخدمين ينتظرون كما انها متواققة مع جميع قواعد
                        الامان
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- -----------------------------------------------------------------------------Some of our work------------------------------------------------------------------- -->
    <div class="Some-of-our-work">
        <h2 class="wh2">بعض من اعمالنا</h2>
        <div class="row">
            <div class="col-lg-4 mb-3" *ngFor="let item of designList">
                <img src="{{api_link}}{{item.image}}" class="our-work-img">
            </div>
        </div>
    </div>
    <!-- -----------------------------------------------------------------------------------type of site-------------------------------------------------------- -->
    <div class="Types-of-sites-container">
        <h2 class="wh2"> انواع المواقع</h2>
        <div class="row">
            <div class="col-lg-4 ">
                <div class="sitediv">
                    <img src="assets/المواقع الشخصية.jpg" class="siteimg" alt="">
                </div>
                <pre>
            </pre>
                <h5 class="h5">المواقع الشخصية</h5>

            </div>
            <div class="col-lg-4">
                <div class="sitediv">
                    <img src="assets/المواقع الاخبارية.png" class="siteimg" alt="">
                </div>
                <pre>
            </pre>
                <h5 class="h5">المواقع الاخبارية</h5>

            </div>
            <div class="col-lg-4">
                <div class="sitediv">
                    <img src="assets/مواقع التجارة الإلكترونية.png" class="siteimg" alt="">
                </div>
                <pre>
            </pre>
                <h5 class="h55">مواقع التجارة الإلكترونية</h5>

            </div>
        </div>
        <br>
        <!-- --------------------------------------------------------------------------2----------------------------------------------------------------- -->

        <div class="row">
            <div class="col-lg-4">
                <div class="sitediv">
                    <img src="assets/المدونات.png" class="siteimg" alt="">
                </div>
                <pre>
        </pre>
                <h5 class="h4">المدونات</h5>

            </div>
            <div class="col-lg-4">
                <div class="sitediv">
                    <img src="assets/مواقع الوسائط المتعددة.jpg" class="siteimg" alt="">
                </div>
                <pre>
        </pre>
                <h5 class="h55">مواقع الوسائط المتعددة</h5>

            </div>
            <div class="col-lg-4">
                <div class="sitediv">
                    <img src="assets/المواقع الخدميه.jpg" class="siteimg" alt="">
                </div>
                <pre>
        </pre>
                <h5 class="h5">المواقع الخدمية</h5>

            </div>
        </div>
        <!-- -------------------------------------------------------------------------------3------------------------------------------------------------------- -->
        <div class="row">
            <div class="col-lg-4">
                <div class="sitediv">
                    <img src="assets/المنتديات.jpg" class="siteimg" alt="">
                </div>
                <pre>
        </pre>
                <h5 class="h4">المنتديات</h5>

            </div>
            <div class="col-lg-4">
                <div class="sitediv">
                    <img src="assets/مواقع التواصل الاجتماعية.png" class="siteimg" alt="">
                </div>
                <pre>
        </pre>
                <h5 class="h55">مواقع التواصل الاجتماعية</h5>

            </div>
            <div class="col-lg-4">
                <div class="sitediv">
                    <img src="assets/مواقع الشركات.jpg" class="siteimg" alt="">
                </div>
                <pre>
        </pre>
                <h5 class="h5">مواقع الشركات</h5>

            </div>
        </div>
    </div>
    <pre></pre>
    <div class="row">
        <div class="col-12">
            <div class="searching">
                <img class="siteimg" src="assets/مواقع محركات البحث.jpg">
                <pre>
    </pre>
            </div>
            <div class="h5ing">
                <h5>مواقع محركات البحث</h5>
            </div>
        </div>
    </div>
    <!-- ---------------------------------------------------------------------Advantages------------------------------------------------------------------------ -->
    <div class="Advantages">

        <div class="row">
            <div class="col-lg-4">
                <img src="assets/profitionalism-work.jpg">
            </div>
            <div class="col-lg-4 ">
                <div class="Adimgdiv">
                    <img class="imgicons" src="assets/Delivery speed2.jpg">
                </div>
                <div class="Adimgdiv">
                    <img class="imgicons" src="assets/Low cost.png">
                </div>
                <div class="Adimgdiv">
                    <img class="imgicons" src="assets/Work professionalism.jpg">
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <h5 class="h555">التسليم في اقل من 10أيام</h5>
                    <p>نضعُ لك خطة زمنية قياسية ومنافسة نوضح لك فيها كل التفاصيل الزمنية لعملك، لتكون أنت المُطلع على
                        سير عملك بالوجه المطلوب</p>
                </div>

                <div>
                    <h5 class="h555">التكلفة اليسيرة</h5>
                    <p>نعملُ على تقديم أفضل الخدمات المنافسة، والتي نتميز بها ونستفرد في إبداعها ومع كل هذا نضع في
                        الحسبان التكلفة اليسيرة للعمل والعروض والتخفيضات التي تصب في مصلحة العميل</p>
                </div>

                <div>
                    <h5 class="h555"> احترافية العمل</h5>
                    <p>نعمل بفريق عمل متخصص و محترف و ذو خبرة طويلة في مجال تصميم و برمجة المواقع ، لنجعل من موقعك
                        مكاناً مليء بالخدمات التي تقدمها و عرضها في قوالب جذابة و تلفت انتباه العملاء المحتملين ، و ننفذ
                        كافة طلباتك بإمكانيات برمجية عالية</p>
                </div>
            </div>
        </div>








    </div>

</div>