
@media screen and (max-width:991px) {
    i.bi{
        display: none;
    }
}

@media screen and (max-width:700px) {
    .Design-company .Dc .img {
        width: 100%;
    }
    .The-best-design-company .prefer {
        display: block;
    }
    .Articles .row {
        display: block;
    }
    .most-important-features-of-Electro-website-design .row {
        display: block;
        margin-right: 0;
    }
    .most-important-features-of-Electro-website-design .maindiv2 {
        margin-bottom: 27px;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .Design-company .span1 {
        margin-right: 3px;
    }
    .prefer .col-lg-6 p{
        font-size: 16px;
    }
    .Some-of-our-work .row .mb-3{
        margin-bottom: 2rem !important;
    }
    img.big-image{
        width: 90%;
    }

}

.row {
    padding: 10px;
}

.Design-company {
    margin-top: 100px;
}
.Design-company img {
    padding-top: 100px;
    width: 100%;
}
.The-best-design-company {
    padding-right: 20px;
}

.prefer {
    font-size: 22px;
}
.prefer-img img {
    width: 100%;
    height: 338px;
}

.big-title {
    font-size: 45px;
    color: blue;
    text-align: center;
    // font-family: Abril Fatface;
    font-weight: 400;
    font-style: normal;
}
.title {
    white-space: nowrap;
    font-family: GE SS Two;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(66, 73, 91, 1);
}
.articles-paragraph{
    padding-top: 20px;
    font-size: 19px;
}
.small-title {
    text-align: center;
    color: blue;
    padding: 5px;
}

.big-blue-title {
    text-align: center;
    margin-top: 70px;
    color: blue;
}
.text-blue {
    color: blue;
}

.most-important-imgDiv {
    justify-content: center;
    display: flex;
}
.most-important-imgDiv img , .icon {
    width: 100px;
    height: 80px;
    margin-bottom: 5px;
}
.big-image{
    margin: 10px;
    width: 50%;
}
.Some-of-our-work{
    position: relative;
}
.our-works-list-view{
    display: flex;
    justify-content: space-evenly;
}
.our-work-img{
    height: 240px;
    width: 100%;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.bi-caret-left-fill{
    position: absolute;
    left: -1.5%;
    top: 45%;
    z-index: 4;
    font-size: 25px;
    color: orange;
}
.bi-caret-right-fill{
    position: absolute;
    top: 45%;
    z-index: 4;
    right: -1.5%;
    font-size: 25px;
    color: orange;
}

.professionals-img{
    width: 70%;
}