<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-3 col-6 footer-links ">
                <h4>روابط مهمة</h4>
                <ul>
                    <li><a href="">الرئيسية</a></li>
                    <li><a routerLink="/whous">من نحن</a></li>
                    <li><a href="https://wa.me/+96560796761" target="_blank">تواصل معانا </a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-6 footer-links">
                <h4>الخدمات</h4>
                <ul>
                    <li><a routerLink="/web-desgin">تصميم المواقع</a></li>
                    <li><a routerLink="/advertisment">التسويق الاكتروني</a></li>
                    <li><a href="https://wa.me/+96560796761" target="_blank">التواصل علي واتساب لتصاميم الجرافيك </a></li>
                </ul>
            </div>

            <div class="col-lg-5 col-md-5 footer-about text-center" style="direction: ltr;">
                <a href="index.html" class="logo d-flex align-items-center justify-content-center">
                    <img src="assets/logo.jpeg" style="width: 60px;" alt=""> <span>فكرة</span>
                </a>
                <p>
                    شركة فكرة للتسويق الرقمي
                </p>
                <p>  جميع حقوق النشر محفوظة لدي شركة <strong class="px-1">فكرة</strong>   &copy; 
                </p>
                <br>
                <a >  <span> Powerd by </span> فكرة للنسويق </a>
                <div class="social-links d-flex mt-4 justify-content-center">
                    <a href="https://wa.me/+96560796761" target="_blank" class="whats_link"><i
                            class="bi bi-whatsapp whats"></i></a>
                    <a href="https://www.facebook.com/Alraed.Est1?locale=ar_AR" target="_blank" class="facebook"><i class="bi bi-facebook facebook"></i></a>
                    <a href="" class="instagram"><i class="bi bi-instagram instagram"></i></a>
                    <a href="" class="linkedin"><i class="bi bi-linkedin linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>

</footer><!-- End Footer -->