<div class="col-12 set-margin-for-header">
    <section class="ad-home">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" >
                    <img  src="assets/marketing.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" >
                  <img  src="assets/marketing_2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active" >
                    <img  src="assets/marketing_3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" >
                    <img  src="assets/marketing_4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <!-- <div class="owl-carousel owl-theme" style="direction: ltr;">
            <img src="assets/marketing.jpg" alt="">
            <img src="assets/marketing_2.jpg" alt="">
            <img src="assets/marketing_3.jpg" alt="">
            <img src="assets/marketing_4.jpg" alt="">
        </div> -->
    </section>

    <section class="ad_box p-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            اعلان واتس اب
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">. اعلان الواتس اب من احدث الطرق لتمويل منتاجاتك</h5>
                            <a class="card-text " href="https://wa.me/message/H3BHYD7VPJ25E1">
                                <div class="top_btn">
                                    <button class="btn">
                                        طلب عرض سعر
                                    </button>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>