

<div class="col-12">
  <div class="d-flex justify-content-end">
    <button class="btn btn-info control-button" (click)="controlShow('add')" *ngIf="controlItem !='add'">Add </button>
    <button class="btn btn-info control-button" (click)="controlShow('showData')" *ngIf="controlItem !='showData'">Show Data </button>
  </div>
    <form (ngSubmit)="submit()" *ngIf="controlItem =='add' || controlItem =='edit'">
      <div class="form-group mt-2">
        <label for="formGroupExampleInput2">صورة من اعمالنا</label>
        <input type="file" class="form-control" accept=".jpg , .png , .webp , jpeg" id="formGroupExampleInput2" (change)="fileUploaded($event)">
        <img [src]="photoUrl" alt="" *ngIf="photoUrl != '' " class="promo-img-show-Admin">
      </div>
      <div class="text-center m-2">
        <button type="submit" class="btn btn-outline-warning"> save</button>
      </div>
    </form>
</div>


<table class="table" *ngIf="controlItem=='showData'">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">صور من اعمالنا</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="paddingTop" *ngFor="let item of designList; let i=index">
      <th scope="row">
        <div class="additional-height"></div>
        {{i+1}}
      </th>
      <td><img src="{{api_link}}{{item.image}}" class="promo-img-show-Admin" alt=""></td>
      <td>
        <div class="additional-height"></div>
        <button class="btn btn-danger control-button" (click)="deleteItem(item.id)">Delete </button>
        <button class="btn btn-warning control-button" (click)="editItem(item);controlShow('edit')">Edit </button>
      </td>
    </tr>
  </tbody>
</table>