<div class="col-12 container set-margin-for-header">

    <!-- -------------------------------------------------------------------------------who are we------------------------------------------------------------------- -->
    <div class="who-are-we">
        <div class="row">
            <div class="col-12">
                <h1 class="part-title Aboutus">من نحن</h1>
                <div *ngFor="let item of WhoUsDescription">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------------------------------------------------------------------values ​​and principles-------------------------------------------------------------- -->
    <div class="values-and-principles">
        <h2 class="part-title">القيم والمبادئ</h2>
        <br>
        
        <div class="Icons text-center">
            <div class="Icon2">
                <i class="bi bi-badge-cc"></i>
                <br>
                <h6>الابتكار</h6>
            </div>
            <div class="Icon2">
                <i class="bi bi-reply-all-fill"></i>
                <br>
                <h6>الاحترام</h6>
            </div>
            <div class="Icon2">
                <i class="bi bi-fire"></i>
                <br>
                <h6>النزاهة</h6>
            </div>
            <div class="Icon2">
                <i class="bi bi-people-fill"></i>
                <br>
                <h6>العمل الجماعي</h6>
            </div>
            <div class="Icon2">
                <i class="bi bi-lightning"></i>
                <br>
                <h6>الأثر</h6>
            </div>
        </div>
        <br>

    </div>

    <!-- ------------------------------------------------------------------------------------services-------------------------------------------------------------- -->
    <div class="Service-container">
        <h2 class="part-title">الخدمات التي نقدمها</h2>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 text-center" *ngFor="let item of WhoUsServices">
                <img class="service-image" src="{{item.image}}">
                <p class="service-description" title="{{item.description}}">{{item.description}}</p>
            </div>
        </div>
    </div>
    <br>
    <!-- ------------------------------------------------------------------------------------Team members-------------------------------------------------------------- -->

    <div class="main-team">
        <div class="row d-flex justify-content-center text-center">
            <h2 class="part-title">فريق العمل</h2>
            <div class="col-lg-4 team5" *ngFor="let item of WhoUsOurTeam">
                <div class="team-card">
                    <img src="{{item.image}}">
                    <p class="text-center">{{item.name}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------------------------------------------------------------------customer success-------------------------------------------------------------- -->
    <div class="success">
        <div class="succses">
            <div class="succdiv1"></div>
            <div class="part-title">
                <h5>قصص نجاح عملائنا</h5>
            </div>
            <div class="succdiv3"></div>
        </div>
        <div class="maindiv col-12">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 text-center" *ngFor="let item of WhoUsOurClients">
                    <img src="{{item.image}}" alt="" class="our-clients-img">
                </div>
            </div>
        </div>
    </div>
</div>