.h1 {
    padding-top: 20px;
    color: blue;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

.carousel-item img {
    height: calc(100vh - 140px);
}

#carouselExampleControls,
.div-title {
    width: 36%;
    margin-right: 32%;
}

.div-title {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width:700px) {
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .h1 {
        font-size: 22px;
    }

    div.col-lg-6 img {
        height: 300px;
    }

    .carousel-item img {
        height: calc(100vh - 225px);
    }

    #carouselExampleControls,
    .div-title {
        width: 90%;
        margin-right: 5%;
    }
}