<div class="col-12 container set-margin-for-header">
  <div class="div-title">
    <h1 class="h1">مع فكره.. أنت في المقدمة <a href="{{item.pdf}}" *ngFor="let item of electionListPdf" download="حملات انتخابية - موقع فكرة"><i class="bi bi-file-earmark-arrow-down" style="color: orange;"></i></a></h1>
  </div>
  <!-- <div class="row">
        <div class="col-lg-6 p-1 mb-2" *ngFor="let item of electionList">
                <img src="{{item.image}}">
        </div>
    </div> -->
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item " *ngFor="let item of electionList;let i=index" [ngClass]="{'active': i==0? true:false }">
      <img src="{{item.image}}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="col-12">
  <h1 class="h1 mt-3"> حملات انتخابية سابقة</h1>
  <div class="container d-flex justify-content-center flex-wrap">
    <div class="col-sm-4 samples" *ngFor="let item of electionListSamples">
      <a [href]="item.url" target="_blank" *ngIf="item.url">
        <img [src]="item.image" class="w-100" alt="">
        <p class="title-Samples">{{item.title}}</p>
      </a>
      <div *ngIf="!item.url">
        <img [src]="item.image" class="w-100" alt="">
        <p class="title-Samples">{{item.title}}</p>
      </div>
    </div>
  </div>
</div>