@media screen and (max-width:700px) {
    .row {
        margin-right: 0px;
        margin-left: 0px;

    }

    div.col-lg-6 img {
        height: 300px;
    }

}

.div-title {
    padding-top: 30px;
}

.h1 {
    color: blue;
    text-align: center;
    margin-bottom: 20px;
}


.col-lg-6 img{
    height: 480px;
    width: 85%;
    margin-right: 7.5%;
    border-radius: 4px;
}