/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

img::selection{
    background: none;
}
.col-lg-6{
    float: right;
}
.set-margin-for-header{
    margin-top: 92px;
}

// ----------------------------- style code for main css file shared --------------------------- 

@media screen and (max-width: 600px) {
    div.d-flex.justify-content-end{
        justify-content: center !important;
    }
    .form-group label{
        font-size: 12px;
    }
    .form-group input::placeholder{
        font-size: 12px;
    }
    .form-group input[type="file"]{
        font-size: 12px;
    }

    thead tr th,
    tbody tr td,
    tbody tr th,
    tbody tr td .btn{
        font-size: 10px !important; 
    }
    tr td .btn-warning{
        padding: 5px 17px;
    }
}

input::placeholder{
    text-transform: capitalize;
}
label{
    padding: 5px;
}
.control-button{
    margin-left: 10px;
    color: white;
    font-size: 13px !important; 
    margin-bottom: 20px;
}
.promo-img-show-Admin{
    height: 70px;
    width: 85px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #8883793d;
    margin-top: 22px;
    margin-bottom: 13px;
}
.additional-height{
    height: 26px;
}
