<div class="col-12 set-margin-for-header container">
    <div class="row mb-5">
        <div class="col-lg-6">
            <img src="assets/تطبيقات الجوال..png" alt="" class="mobileImage">
        </div>
        <div class="col-lg-6 text-center mt-4">
            <div>
                <h2>شركة تصميم <span class="color-orangered">تطبيقات</span><br>
                    <span class="color-blue">الجوال</span>
                </h2>
                <p>
                    الكثير من مستخدمي الإنترنت في وقتنا الحالي، يتصفحون <br>الإنترنت، من هواتفهم
                    الذكية وتعتبر تطبيقات الهاتف هي
                    <br>الملجأ القريب من أصابع التنقل، أصابع العملاء التي ستهمس<br> تطبيقك الخاص
                </p>
                <div class="line"></div> <br> <br>
                <p>
                    مع كل وجبة ماذا تنتظر صمم وبرمج التطبيق الخاص بشركتك<br> لدى فكرة لتكون الأقرب من
                    عملائك والأنسب من بين<br>
                    المنافسين.
                </p>
            </div>
            <div class="line2"> </div>
        </div>
    </div>
    <div class=" row  text-center" data-aos="fade-up" data-aos-duration="1500">
        <div class="col-12">
            <h4>شركة تصميم <span class="color-blue">تطبيقات</span></h4>
            <p> </p>
            <p>نعملُ على كلٍ من تصميم وأيضاً برمجة التطبيقات<br> نجعل كل شيء متوفر لك في مكان واحد،</p>
            <p>ونغنيك عن التشتت والضياع بين المصممين <br>والمبرمجين، ونعملُ أيضاً على متابعة عمل التطبيق<br> وتقديم شتى
                أنواع الدعم </p>
            <p>لنجعل من تطبيقك النافذة الأولى للخدمات التي<br> تقدمها ونجعل من كل المنافسين خياراً ثانياً لكل من
                <br>يبحث عن خدماتكم، نسير معك حتى النهاية.
            </p>
        </div>
    </div>
    <!-- شركة فكرة تعمل  -->
    <div class="fgr our-services mt-5" data-aos="fade-up" data-aos-duration="1500">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/خدمه تصميم المواقع.jpg" alt="">
            </div>
            <div class="col-lg-6 text-center">
                <pre class="design-service">شركة فكرة تعمل على تقديم خدمة تصميم
وبرمجة المواقع بأسلوب فريد و سهل الوصول
لجميع العملاء المحتملين نبني موقعك
بكل التفاصيل التي تحتاجها و نجعل
منه صرحاً زاخراً بهويتك
</pre>
            </div>
        </div>
    </div>
    <div class="allnededrow mt-5">
        <div class="row" data-aos="fade-up" data-aos-duration="1500">
            <h1 class="text-center">كل الى تحتاج له عشان تبدأ</h1>
            <br>
            <div class="col-lg-6">
                <div class="Allneded">
                    <div class="Allnededdiv1 text-center">
                        <a class="tt-service-icon" href="#" target="_self">
                            <img src="assets/Sell ​​everywhere.jpg" alt="">
                        </a>
                        <div class="tt-service-info">
                            <a class="tt-service-title">بيع في كل مكان</a>
                        </div>

                        <a class="tt-service-icon" href="#" target="_self">
                            <img src="assets/Awesome apps.jpg" alt="">
                        </a>
                        <div class="tt-service-info">
                            <a class="tt-service-title">تطبيقات رهيبة</a>
                        </div>

                        <a class="tt-service-icon" href="#">
                            <img src="assets/profitionalism-work.jpg" alt="">
                        </a>
                        <div class="tt-service-info">
                            <a class="tt-service-title">تصميمات فريدة ومتنوعة</a>
                        </div>

                        <a class="tt-service-icon" href="#" target="_self">
                            <img src="assets/Customer-service.jpg" alt="">
                        </a>
                        <div class="tt-service-info">
                            <a class="tt-service-title">خدمة عملاء تضبطك</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="Allnededdiv2 text-center">
                    <a class="tt-service-icon" href="#" target="_self">
                        <img src="assets/mob-app.jpg" alt="">
                    </a>
                    <div class="tt-service-info">
                        <a class="tt-service-title ">تطبيقات جوال لمتجرك</a>
                    </div>

                    <a class="tt-service-icon" href="#">
                        <img src="assets/free-learning.jpg" alt="">
                    </a>
                    <div class="tt-service-info">
                        <a class="tt-service-title">مصادر تعلم مجانية</a>
                    </div>

                    <a class="tt-service-icon" href="#">
                        <img src="assets/Payment.jpg" alt="">
                    </a>
                    <div class="tt-service-info">
                        <a class="tt-service-title">اقبل الدفع على متجرك</a>
                    </div>
                
                    <a class="tt-service-icon" href="#">
                        <img src="assets/store-shoping.jpg" alt="">
                    </a>
                    <div class="tt-service-info">
                        <a class="tt-service-title">اربط متجرك بطرق الشحن</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stor mt-5">
        <div class="row" data-aos="fade-up" data-aos-duration="1500">
            <div class="col-lg-6 text-center">
                <h2 class="store-apps">تطبيقات المتاجر</h2>
                <p class="paragraph">تطبيقات الهاتف الآن تعتبر الأكثر أهمية
                    لذلك احرص على تصميم وبرمجة تطبيق
                    مميز حيث ان اكثر من 40% من مستخدمين
                    الأنترنت في الوطن العربي يستخدمون
                    الهواتف فتواجد تطبيق متجرك على
                    هواتف المستخدمين سواء تطبيق
                    اندرويد او تطبيق ايفون يتيح لك فرصة
                    أكبر لفتح سوق جديد لمتجرك وأيضا
                    ضمان وجود زوار دائمين لمتجرك.</p>
            </div>

            <div class="col-lg-6 text-center">
                <img src="assets/Store-applications.png" alt="" class="Store-applications-img">
            </div>
        </div>
    </div>
    <!-- ------------------------------- co-programs part -------------------------------- -->
    <div class="row mt-5" data-aos="fade-up" data-aos-duration="1500">
        <div class="col-lg-6">
            <img src="assets/company-programs.jpg" alt="">
        </div>
        <div class="col-lg-6 text-center">
            <h2>تطبيقات الشركات</h2>
            <p class="paragraph">تطبيقات الهاتف الان تعتبر الاكثر اهمية
                من اي وقت مضى لذلك احرص على
                تصميم وبرمجة تطبيق لشركتك.
                وحصولك على تطبيق يعتبر ذو اهمية
                كبيرة حيث تستطيع ان تستخدمه في
                التسويق لشركتك بطريقة جذابة
                فتواجدك على كل هاتف ذكي 24 ساعة
                يوميا يتيح لك على سبيل المثال ان ترسل
                اشعارات عن كل جديد يخص شركتك دون
                الحاجة لعمل اعلانات مكلفة على
                الانترنت.</p>
        </div>
    </div>
    <div class="col-12 mt-5" data-aos="fade-up" data-aos-duration="1500">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="col-sm-6 text-center">
                <h1>تطبيقك الخاص</h1>
                <p>لديك فكرة وتريد تنفيذها دعنا نساعدك</p>
            </div>
            <div class="col-sm-6">
                <img src="assets/Private applications.png" alt="">
            </div>
        </div>
    </div>
    <div class="row mt-5" data-aos="fade-up" data-aos-duration="1500">
        <div class="col-12">
            <div>
                <h2 class="text-center">المزيد من خدماتنا</h2>
                <img src="assets/more-of services.gif" alt="" class="special-program">
            </div>
        </div>
    </div>
    <div class="row mt-5" data-aos="fade-up" data-aos-duration="1500">
        <div class="col-lg-6">
            <div>
                <h2 class="last-title text-center">أهمية إستخدام تطبيقات الهاتف لترويج أعمالك</h2>
            </div>
            <p class="paragraph">التواصل مع العملاء باستمرار. ترويج
                المنتجات أو الخدمات الخاصة بك في أي وقت وفي أي مكان. زيادة المبيعات. ترك صورة ذهنية
                جيدة للعميل. بناء قائمة عملاء جديدة. زيادة تحميل التطبيق. إشهار علامتك التجارية
                وإنتشار أعمالك.
            </p>
        </div>
        <div class="col-lg-6">
            <img src="assets/promote-business.jpg" alt="">
        </div>
    </div>
</div>