@media screen and (max-width:700px) {
    .container .co-programs .texts-div {
        padding-right: 0px;
    }
    .row .Allnededdiv1 {
        margin-left: 10px
    }
    .row .Allnededdiv1 .img {
        width: 50%;
    }
    .row .line2 {
        width: 1%;
        height: 93px;
        background-color: blue;
        margin-top: -108px;
        margin-right: 0px;
    }
    .row .line {
        width: 1%;
        height: 130px;
        background-color: blue;
        margin-top: -148px;
        margin-right: 0px;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    img.mobileImage{
        width: 100%;
        height: 270px;
    }

}

.set-margin-for-header {
    padding-top: 20px;
}

.row {
    overflow-x: hidden;
    width: 100%;
}

.app {
    display: flex;
    align-items: center;
}



.app h2 {
    margin-right: 70px;
}

.color-orangered {
    color: orangered;
}

.color-blue {
    color: blue;
}

.line {
    width: 5px;
    height: 130px;
    background-color: blue;
    margin-top: -170px;
    margin-left: 10px;
    margin-right: -15px;
}

.line2 {
    width: 5px;
    height: 90px;
    background-color: blue;
    margin-top: -100px;
    margin-right: -15px;
}

.row .simple-text {
    margin-right: 66px;
}

.appstore {
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.menyservices {
    color: #7f4398;
    text-align: right;
    font-family: Abril Fatface;
    margin-right: 40px;
}

.last-title {
    color: #7f4398;
    font-family: Abril Fatface;
    margin-top: 30px;
    margin-bottom: 30px;
}


// <!-- ------------------------------- co-programs part -------------------------------- -->
.co-programs .texts-div {
    padding-top: 40px;
    padding-right: 40px;
}

.co-programs .texts-div p {
    font-size: 18px;
}

.Allnededdiv1 img,
.Allnededdiv2 img {
    width: 107px;
    height: 107px;
    margin-top: 14px;
}

// ------------------------------------------------------- Eng Ahmed ------------------------------------------

.mobileImage{
    width: 93%;
    height: 360px;
    border-radius: 10px;
}

.design-service{
    font-size: 19px;
    font-family: Tajawal;
    line-height: 35px;
    margin-top: 40px;
}

.Store-applications-img{
    height: 315px;
    width: 80%;
}

.special-program{
    width: 80%;
    margin-right: 10%;
    max-height: 500px;
}

.paragraph{
    margin-top: 30px;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
}







