

<div class="col-12 text-center part-view">
  <button class="btn control-button view-parts-btn" (click)="showpart('who-us-showData')">من نحن </button>
  <button class="btn control-button view-parts-btn" (click)="showpart('our-services-showData')">الخدمات </button>
  <button class="btn control-button view-parts-btn" (click)="showpart('our-team-showData')">فريق العمل</button>
  <button class="btn control-button view-parts-btn" (click)="showpart('our-clients-showData')">عملائنا</button>
</div>


<!-- who-us form-->
<div class="col-12">
  <div class="d-flex justify-content-end">
    <button class="btn btn-info control-button" (click)="showpart('who-us-add')" *ngIf="view_part =='who-us-showData'">Add </button>
    <button class="btn btn-info control-button" (click)="showpart('who-us-showData')" *ngIf="view_part =='who-us-add' || view_part =='who-us-description-edit' ">Show Data </button>
  </div>
    <form [formGroup]="who_us" (ngSubmit)="submitWhoUs()" *ngIf="view_part=='who-us-add' || view_part=='who-us-description-edit'">
      <div class="form-group">
        <label for="formGroupExampleInput">من نحن</label>
        <textarea type="text" class="form-control" id="formGroupExampleInput" rows="10" cols="30" placeholder="description" formControlName="description"></textarea>
      </div>
      <div class="text-center m-2">
        <button type="submit" class="btn btn-outline-warning"> save</button>
      </div>
    </form>
</div>


<!-- our services form-->
<div class="col-12">
  <div class="d-flex justify-content-end">
    <button class="btn btn-info control-button" (click)="showpart('our-services-add')" *ngIf="view_part =='our-services-showData'">Add </button>
    <button class="btn btn-info control-button" (click)="showpart('our-services-showData')" *ngIf="view_part =='our-services-add' || view_part =='our-services-edit' ">Show Data </button>
  </div>
    <form [formGroup]="services" (ngSubmit)="submitServices()"  *ngIf="view_part =='our-services-add' || view_part =='our-services-edit' ">
      <div class="form-group">
        <label for="formGroupExampleInput">وصف الخدمة</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="description" formControlName="description">
      </div>
      <div class="form-group mt-2">
        <label for="formGroupExampleInput2"> صورة الخدمات</label>
        <input type="file" class="form-control" id="formGroupExampleInput2" placeholder="Advertisment Content" (change)="servicesfileUpload($event)">
        <span *ngIf="uploadingImg == 'uploadingImg'"><br>جاري التحميل ...</span>
        <img [src]="servicesPhotoUrl" alt="" *ngIf="servicesPhotoUrl != '' " class="promo-img-show-Admin">
      </div>
      <div class="text-center m-2">
        <button type="submit" class="btn btn-outline-warning"> save</button>
      </div>
    </form>
</div>


<!-- our team form-->
<div class="col-12">
  <div class="d-flex justify-content-end">
    <button class="btn btn-info control-button" (click)="showpart('our-team-add')" *ngIf="view_part =='our-team-showData'">Add </button>
    <button class="btn btn-info control-button" (click)="showpart('our-team-showData')" *ngIf="view_part =='our-team-add' || view_part =='our-team-edit' ">Show Data </button>
  </div>
    <form [formGroup]="our_team" (ngSubmit)="submitOurTeam()" *ngIf="view_part=='our-team-add' || view_part=='our-team-edit'">
      <div class="form-group">
        <label for="formGroupExampleInput">اسم العضو</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="enter name" formControlName="name">
      </div>
      <div class="form-group mt-2">
        <label for="formGroupExampleInput2"> صور العضو</label>
        <input type="file" class="form-control" id="formGroupExampleInput2" placeholder="Advertisment Content" (change)="ourTeamfileUpload($event)">
        <span *ngIf="uploadingImg == 'uploadingImg'"><br>جاري التحميل ...</span>
        <img [src]="teamPhotoUrl" alt="" *ngIf=" teamPhotoUrl != '' " class="promo-img-show-Admin">
      </div>
      <div class="text-center m-2">
        <button type="submit" class="btn btn-outline-warning"> save</button>
      </div>
    </form>
</div>


<!-- our clients form-->
<div class="col-12">
  <div class="d-flex justify-content-end">
    <button class="btn btn-info control-button" (click)="showpart('our-clients-add')" *ngIf="view_part =='our-clients-showData'">Add </button>
    <button class="btn btn-info control-button" (click)="showpart('our-clients-showData')" *ngIf="view_part =='our-clients-add' || view_part =='our-clients-edit' ">Show Data </button>
  </div>
    <form [formGroup]="our_clients" (ngSubmit)="submitOurClients()" *ngIf="view_part=='our-clients-add' || view_part=='our-clients-edit'">
      <div class="form-group mt-2">
        <label for="formGroupExampleInput2"> صورة احد العملاء</label>
        <input type="file" class="form-control" id="formGroupExampleInput2" placeholder="Advertisment Content" (change)="clientfileUpload($event)">
        <span *ngIf="uploadingImg == 'uploadingImg'"><br>جاري التحميل ...</span>
        <img [src]="clientPhotoUrl" alt="" *ngIf="clientPhotoUrl != '' " class="promo-img-show-Admin">
      </div>
      <div class="text-center m-2">
        <button type="submit" class="btn btn-outline-warning"> save</button>
      </div>
    </form>
</div>



<!-- ----------------------------- data tables ----------------------------- -->

<table class="table" *ngIf="view_part=='who-us-showData' || view_part=='our-services-showData' || view_part=='our-team-showData' || view_part=='our-clients-showData'">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"*ngIf="view_part=='who-us-showData'">الوصف</th>
      <th scope="col" *ngIf="view_part!='who-us-showData'">صورة</th>
      <th scope="col" *ngIf="view_part=='our-services-showData'|| view_part=='our-team-showData'">الاسم</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngIf="view_part=='who-us-showData'||view_part=='our-clients-showData'|| view_part=='our-services-showData'|| view_part=='our-team-showData'">
    <tr *ngFor="let item of list; let i=index">
      <th scope="row">{{i+1}}</th>
      <td *ngIf="view_part=='our-services-showData' || view_part=='who-us-showData'">{{item.description}}</td>
      <td *ngIf="view_part=='our-team-showData'">{{item.name}}</td>
      <td *ngIf="view_part!='who-us-showData'"><img src="{{item.image}}" class="promo-img-show-Admin" alt=""></td> <!-- old Asp.net Code -->
      <!-- <td *ngIf="view_part!='who-us-showData'"><img src="{{api_link}}{{item.image}}" class="promo-img-show-Admin" alt=""></td> --> <!-- old Asp.net Code -->
      <td>
        <button class="btn btn-danger control-button" (click)="deleteItem(item)">Delete </button>
        <button class="btn btn-warning control-button" (click)="updateItem(item)">Edit </button>
      </td>
    </tr>
  </tbody>
</table>






